---
name: Conformance

"on":
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:
  schedule:
    - cron: '30 6 * * 3'

permissions:
  contents: read

jobs:
  tuf-conformance:
    name: TUF Conformance Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Run conformance suite
        uses: theupdateframework/tuf-conformance@500c525c9ce287a472fd334fe8d885cace667d32 # v2.4.0
        with:
          entrypoint: ".github/scripts/tuf-conformance"
