name: Smoke test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  fetch-target:
    name: Fetch Target From TUF Repo
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: ubuntu-latest
            shell: bash
          - os: windows-latest
            shell: cmd
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    steps:
      - name: Checkout source
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3
      - name: Setup node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: 16
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Run TUF client with Sigstore TUF repo
        run: |
          npx ts-node ./scripts/tufClientFetchTarget.ts ./scripts/sigstore-tuf-repo-config.json
      - name: Run TUF client with TUF Demo repo
        run: |
          npx ts-node ./scripts/tufClientFetchTarget.ts ./scripts/tuf-demo-tuf-repo-config.json
